VITE_SUPABASE_URL=https://qcabkhhbcdjyefbwzexj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjYWJraGhiY2RqeWVmYnd6ZXhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNDI5ODEsImV4cCI6MjA5OTYxODk4MX0.QJWbZ-UB_qVQpEKSd0VgANh_UuYIGnsDTmrBXdagHfg
