<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/welcome.css">
  <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {% include '_site_header.html' %}
  <main id="app">
    {% block content %}{% endblock %}
  </main>
  {% include '_site_footer.html' %}

  <script defer src="/static/js/welcome.js"></script>
  <script defer src="/static/js/charts.js"></script>
  <script defer src="/static/js/invoice_print.js"></script>
</body>
</html>
